<div class="container-fluid">
    <section class="container-fluid">

        <!-- Default box -->
        <div  style=" text-align: center;">
            
                <h1 style="color:mintcream; font-weight: bold; padding-top: 20px;">Library Management</h1>
                <div  style="padding-top: 160px;"class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                           
                        </div>
                        <div class="col-md-3">
                            <button type="button" routerLink="/issuebook" class="btn btn-danger btn-lg">Issue Book</button>
                        </div>
                        <div class="col-md-3">
                            <button type="button" routerLink="/issuebookrecord" class="btn btn-danger btn-lg">Issue Book Records</button>
                        </div>
                        <div class="col-md-3">
                           
                        </div>
                    </div>
                </div>

            
           


        </div>


    </section>
</div>